/* RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Attributi per cursor pointer sui bottoni  */

.cursor {
    cursor: pointer;
}
/* Contenitore principale */

#setContainer {
    margin: 0;
    padding: 0;
}

/* Background della web application  */

.container-fluid header {
    width: 100%;
    height: 20vh;
    background-color: #08948c;
}

.container-fluid footer {
    width: 100%;
    height: 80vh;
    background-color: rgba(222,214,207,255);
}

/* Core della web Application */

.container-fluid main {
    width: 80%;
    height: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: flex;
    

}

/* Contacts and Messages container */

.leftBox {
    width: 35%;
    height: 100%;
}

.rightBox  {
    width: 65%;
    height: 100%;
    background-image: url('../img/mine.jpg');
    background-size: auto;

}

/* Attributi per sezione contatti - colonna sinistra */

.user {
    width: 100%;
    height: 10%;
    background-color:rgb(206, 204, 203);
    display: flex;
    border: 0px;
}

.alerts {
    width: 100%;
    height: 10%;
    background-color: #8edafc;
    border: 0px;
    display: flex;
}

.contacts {
    width: 100%;
    height: 80%;
    background-color: #f8f8f8;
}

/* Attributi dentro contacts */

.nav-container {
    display: flex;
    background-color: rgb(206, 204, 203);
    display: flex;
    justify-content: flex-start;
}

/* Attributi dentro nav-container  */

.lente {
    width: 20%;
    justify-content: center;
}

.barra {
    width: 77%;
    justify-content: flex-start;
    border: 0px;
    
} 

.nav {
    display: flex;
    align-items: center;
    border: 0.5px solid white;
    background-color: white;
    color: gray;
    border-radius: 3px;

}

.navigator {
    width: 90%;
    height: 40px;
    border: none;
    font-size: 11px;
    padding-left: 10px;
}

.navigator:focus, .lens, .navigatorDue:focus {
    cursor: pointer;
    border: 0px;
    outline: none;
    background-color: white;

}

/* Attributi per chat utenti */

.messageBox {
    margin: 0 auto;
    width: 100%;
    height: 89%;
    overflow: auto;
    background-color: rgb(206, 204, 203);
}

.messageBox > ol {
    list-style: none;
    padding: 0px;
}

.messageBox > ol > li {
    text-decoration: none;
}

.chatUtente {
    width: 100%;
    height: 80px;
    background-color: white;
    border: 1px solid rgb(206, 204, 203);
}

/* Attributi per sezione user del left box  */

/* Box di Sofia  */

.meBox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profilePic {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    
}

.myName {
    margin-left: 15px;
}

.profilePic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.myIcons {
    width: 50%;
    font-size: 30px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Alerts menu  */

.bell {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sideBell {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.bellStyle {
    width: 50px;
    height: 50px;
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
}

.bellStyle > svg {
    transform: translate(10px, 10px);
}

.bellTitle {
    font-size: 13px;
    font-weight:700;
    cursor: pointer;
   
}

.bellSubtitle {
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

/* Lista messaggi chat */

.chatFriend {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.iconFriend {
    width: 18%;
    display: flex;
    justify-content: center;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rrgb(206, 204, 203);
}

.profilePic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.infoFriend {
    width: 70%;
}

.nameFriend {
    font-size: 15px;
}

.lastMessagePreview, .lastAccess {
    font-size: 10px;
}


.hour {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: stretch;
    font-size: 14px;
    margin-top: 10px;
}

/* Attributi per il box di destra - chat messaggi */

.friendUser {
    width: 100%;
    height: 10%;
    background-color:  rgb(206, 204, 203);
    border-left: 1px solid rgb(125, 119, 119);
    display: flex;
}

.display {
    width: 100%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;

}

/* Attributi messages */

.messages {
    min-height: 10%;
    min-width: 30%;
    max-width: 50%;
    display: flex;
    border-radius: 8px;
    padding: 6px 3px 6px 9px;
    margin: 8px 15px;
    position: relative;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.receive {
    background-color: #fdfdfd;
    align-self: flex-start;
}

.testoEorario {
    width: 100%;
    height: 100%;
    display: flex;
}

.textFormat {
    width: 85%
}

.timeText {
    width: 10%;
    position: absolute;
    bottom: 1px;
    right: 8px;
    font-size: 10px;
}

.sendMenu {
    width: 100%;
    height: 10%;
    background-color: rgb(206, 204, 203);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Attributi per friendUser  */

.activeFriend {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.tools {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:  rgb(102, 101, 101);  
    
}

/* Attributi per sendMenu */

.emoji {
    width: 10%;
    display: flex;
    justify-content: center;
}

.textBox {
    width: 75%;
    display: flex;
    color: gray;
    justify-content: center;
}

.microphone {
    width: 10%;
    display: flex;
    justify-content: center;
}

.barraDue {
    width: 100%;
    justify-content: flex-start;
    border: 0px;  
} 

.navigatorDue {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 11px;
    padding-left: 10px;
}

.displayOff {
    display: none;
}