/* RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Contenitore principale */

.container {
    width: 100%;
    height: 100%
}

/* Background della web application  */

.container header {
    width: 100%;
    height: 15vh;
    background-color: #08948c;
}

.container footer {
    width: 100%;
    height: 85vh;
    background-color: #e0dcd4;
}

/* Core della web Application */

.container main {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(20, 47, 84);

}

