/* RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Contenitore principale */

#setContainer {
    margin: 0;
    padding: 0;
}

/* Background della web application  */

.container-fluid header {
    width: 100%;
    height: 20vh;
    background-color: #08948c;
}

.container-fluid footer {
    width: 100%;
    height: 80vh;
    background-color: rgba(222,214,207,255);
}

/* Core della web Application */

.container-fluid main {
    width: 80%;
    height: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: flex;

}

/* Divisione Core in due blocchi SX e DX*/

.leftBox {
    width: 35%;
    height: 100%;
}

.rightBox  {
    width: 65%;
    height: 100%;
    background-image: url('../img/mine.jpg');
    background-size: auto;

}

/* Attributi blocco SX  */

.leftBox .user {
    width: 100%;
    height: 10%;
    background-color:rgb(206, 204, 203);
    display: flex;
    border: 0px;
}

.leftBox .alerts {
    width: 100%;
    height: 10%;
    background-color: #8edafc;
    border: 0px;
    display: flex;
}

.leftBox .contacts {
    width: 100%;
    height: 80%;
    background-color: #f8f8f8;
}

/* Attributi per figli di USER */

.leftBox .user .meBox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profilePic {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    
}

.leftBox .user .meBox .myName {
    margin-left: 15px;
}

.leftBox .user .meBox .profilePic > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.leftBox .user .myIcons {
    width: 50%;
    font-size: 30px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Attributi per figli di ALERTS */

/* Alerts menu  */

.leftBox .alerts .bell {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.leftBox .alerts .bell .bellStyle {
    width: 50px;
    height: 50px;
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
}

.bellStyle > svg {
    transform: translate(10px, 10px);
}

.leftBox .alerts .sideBell {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}


.leftBox .alerts .sideBell .bellTitle {
    font-size: 13px;
    font-weight:700;
    cursor: pointer;
   
}

.leftBox .alerts .sideBell .bellSubtitle {
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}
/* Attributi per figli di CONTACTS  */

.leftBox .contacts .nav-container {
    display: flex;
    background-color: rgb(206, 204, 203);
    display: flex;
    justify-content: flex-start;
}


.leftBox .contacts .nav-container .lente {
    width: 20%;
    justify-content: center;
}

.leftBox .contacts .nav-container .barra {
    width: 77%;
    justify-content: flex-start;
    border: 0px;
    
} 

.leftBox .contacts .nav-container .nav {
    display: flex;
    align-items: center;
    border: 0.5px solid white;
    background-color: white;
    color: gray;
    border-radius: 3px;

}

.leftBox .contacts .nav-container .nav .navigator {
    width: 90%;
    height: 40px;
    border: none;
    font-size: 11px;
    padding-left: 10px;
}

.navigator:focus, .lens, .navigatorDue:focus {
    cursor: pointer;
    border: 0px;
    outline: none;
    background-color: white;

}

/* Attributi per chat utenti */

.contacts .messageBox {
    margin: 0 auto;
    width: 100%;
    height: 89%;
    overflow: auto;
    background-color: rgb(206, 204, 203);
}

.contacts .messageBox > ol {
    list-style: none;
    padding: 0px;
}

.contacts .messageBox > ol > li {
    text-decoration: none;
}

.chatUtente {
    width: 100%;
    height: 80px;
    background-color: white;
    border: 1px solid rgb(206, 204, 203);
}


/* Attributi per messageBOX */

.messageBox ol .chatUtente .chatFriend {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.messageBox ol .chatUtente .chatFriend .iconFriend {
    width: 18%;
    display: flex;
    justify-content: center;
}

.messageBox ol .chatUtente .chatFriend .iconFriend .profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rrgb(206, 204, 203);
}

.profilePic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.messageBox ol .chatUtente .chatFriend .infoFriend {
    width: 70%;
}

.infoFriend .nameFriend {
    font-size: 15px;
}

.infoFriend .lastMessagePreview, .lastAccess {
    font-size: 10px;
}


.messageBox ol .chatUtente .chatFriend .hour {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: stretch;
    font-size: 14px;
    margin-top: 10px;
}

/* Attributi per il box di DX */

.rightBox .friendUser {
    width: 100%;
    height: 10%;
    background-color:  rgb(206, 204, 203);
    border-left: 1px solid rgb(125, 119, 119);
    display: flex;
}

.rightBox .display {
    width: 100%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;

}

.rightBox .sendMenu {
    width: 100%;
    height: 10%;
    background-color: rgb(206, 204, 203);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Attributi per friendUser  */

.rightBox .friendUser .activeFriend {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.rightBox .friendUser .tools {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:  rgb(102, 101, 101);  
    
}

/* Attributi display  */

.rightBox .display .messages {
    min-height: 10%;
    min-width: 30%;
    max-width: 50%;
    display: flex;
    border-radius: 8px;
    padding: 6px 3px 6px 9px;
    margin: 8px 15px;
    position: relative;
}

.rightBox .display .sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.rightBox .display .receive {
    background-color: #fdfdfd;
    align-self: flex-start;
}

.rightBox .display .messages .testoEorario {
    width: 100%;
    height: 100%;
    display: flex;
}

.rightBox .display .messages .testoEorario .textFormat {
    width: 85%
}

.rightBox .display .messages .testoEorario .timeText {
    width: 10%;
    position: absolute;
    bottom: 1px;
    right: 8px;
    font-size: 10px;
}

/* Attributi per sendMenu */

.rightBox .sendMenu .emoji {
    width: 10%;
    display: flex;
    justify-content: center;
}

.rightBox .sendMenu .textBox {
    width: 75%;
    display: flex;
    color: gray;
    justify-content: center;
}

.rightBox .sendMenu .microphone {
    width: 10%;
    display: flex;
    justify-content: center;
}

/* Attributi in sendMenu textBox */

.sendMenu .textBox .barraDue {
    width: 100%;
    justify-content: flex-start;
    border: 0px;  
} 

.sendMenu .textBox .barraDue form .navigatorDue {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 11px;
    padding-left: 10px;
}

/* Attributi prt interattività JS */

.displayOff {
    display: none;
}

/* Attributi per cursor pointer sui bottoni  */

.cursor {
    cursor: pointer;
}
